/* :root para definir variables CSS */
:root {
    --colorUno: #ffffff; /* Color del texto */
    --colorTres: #333333; /* Fondo oscuro */
}

/* Styles for Section Footer */
.footer {
    background-color: var(--colorTres);
    color: var(--colorUno);
    text-align: center;
    padding: 1rem;
}

.footer__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Diseño responsive para pantallas grandes */
@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
